/* write your override styles here */
#wall .tag-1 {
    display: none;
  }

#wall #tag-2 {
    display: none;
}

#wall #tag-3.slick {
    display: none;
}

#wall #tag-4 {
    display: none;
}

.parent #tag-5.slick {
    display: none;
}

.parent #tag-6:last-child {
    display: none;
}

#wall div.parent div > #tag-7.slick {
    display: none;
}